 body {
    background: white;
 }

 .column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; 
    text-align: center;
  }

.row:after {
    content: "";
    display: table;
    clear: both;
}

.rowCentered {
    position: relative;
    left: 50%;
    right: 50%;
}
* {
    box-sizing: border-box;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.imgBlur {
    -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
    filter: blur(5px);  
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button {
    margin-bottom: 20px;
    margin-left: 20px;
}

.btnFav {
    background-color: #f0e32c;
    border-color: #f0e32c;
    color: white;
}

.btnSignup {
    background-color: #008CBA;
    border-color: #008CBA;
    color: white;
}

.btnSignup:hover {
    background-color: white;
    border-color:  #008CBA;
    color:  #008CBA;
}

.btnLogin {
    background-color: white;
    border-color: #008CBA;
    color: #008CBA;
}

.btnLogin:hover {
    background-color:  #008CBA;
    border-color: white;
    color: white;
}

input {
    margin-left : 15px;
}

.mainRight {
    margin-top : 10%;
}

.txtClr {
    color: #008CBA;
}

.signup {
    text-align: center;
    margin-top : 15%;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: linear-gradient(to right,rgb(120, 224, 216),#008CBA);
    color: white;
}

.nav-links {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin-top : 5px;
}

.current {
    font-weight: bolder;
    font-size : 30px;
}

.navHeadings {
    color: white;
    font-size : 20px;
}

.navHeadings:hover {
    color: white;
}

.navStyle:li {
    font-size: 30;
}

.navMenu {
    text-align: center;
    align-items: center;
}

.listItem {
    color: black;
}

.titleColour {
    background: linear-gradient(to right,rgb(120, 224, 216),#008CBA);
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.galleryRow {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.galleryCol {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.galleryImg {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

.celebul {
    padding-right : 0px;
    padding-left : 0px;
    margin-left : 0px;
}

.logo {
    color:white;
    margin-top: 5px;
}

.logo:hover {
    color: white;
    text-decoration: underline;
    text-decoration-color: white;
}

.searchForm {
    margin-bottom : 20px;
}

.searchBox {
    padding-right : 0px;
    padding-left : 0px;
    margin-left : 0px;
    margin-right : 0px;
    font-size: 2rem;
    width : 100%;
}

.frontPage {
    text-align: center;
    margin-top: 20%;
    vertical-align: middle;
    position: relative;
    top: 50%;
}

.frontPage p {
    font-size: 50px;
    font-weight: bolder;
}

.frontSearch {
    font-size: 2rem;
    width: 70%;
}

.btnSearch {
    font-size: 2rem;
}