* {
    box-sizing: border-box;
}

html, body {
    background: white;
    height: 100%;
    margin:0 auto;
}

button {
    margin-bottom: 20px;
    margin-left: 20px;
}

.button-go {
    background-color:transparent; 
    border: 5px solid white;
    width: 100px;
    color: white;
    padding: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2rem;
    margin: 4px 20px;
    cursor: pointer;
    border-radius: 20px;
}

.button-go:hover {
    color: white;
    background-color: #008CBA;
}

.celeb-ul {
    padding-right : 0px;
    padding-left : 0px;
    margin-left : 0px;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; 
    text-align: center;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.current {
    font-weight: bolder;
    font-size : 30px;
}

.dropdown-item {
    width : 120px;
    position: flex;
    background: white;
}

.dropDown {
    z-index: 100;
    margin-top: 50px;
    padding-left: 20px;
}

.dropdown-menu {
    margin-top: 60px;
    width: 30px;
}

.dropdown-menu .show{
    margin-top: 30px;
}

.front-page {
    background: url("frontImage.png");
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0px;
    z-index: 2;
}

.frontPage p {
    font-size: 50px;
    font-weight: bolder;
}

.front-text {
    text-align: center;
    vertical-align: middle;
    position: relative;
    top: 30%;
}

.front-image {
    width: 50%;
    height: 100%;
    position: absolute;
    z-index: 1;
    left: 0px;
}

.front-image img {
    width: 100%;
    height: 100%;
    transition: transform .5s, filter 1.5s ease-in-out;
    filter: grayscale(100%);
}

.front-image:hover img {
    filter: grayscale(0);
    transform: scale(1.1);
}

.fullscreen img {
    width: 600px;
    height: 500px;
}

.gallery img {
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    image-resolution: 300dpi; 
}

.gallery:hover img{
    box-shadow: inset 0 0 0 25px #53a7ea;
}

img {
    image-rendering: auto;
}

input {
    margin-left : 15px;
}

.list-item {
    color: black;
}

.list-item-focus {
    color: white;
    background: darkblue;
}

.logo-div {
    width: 80%;
}

.logo {
    color:white;
    margin-top: 5px;
    margin-left: 5px;
    width: 450px;
    font-size: 3rem;
    margin-right: 0px;
    padding: 5px 5px 5px 5px;
    align-content: right;
    text-align: right;
    position: relative;
}

.logo-mobile {
    color:white;
    font-size: 3rem;
    align-content: right;
    text-align: right;
    padding-right: 15px;
    padding-left: 10px;
}

.login-drop {
    background: transparent;
    border-color: transparent;
    font-size : 20px;
}

.login-drop button{
    background: transparent;
    border-color: transparent;
    font-size : 20px;
    position: absolute;
}

.loginMargin button{
    margin: 0;
    padding-top: 15px;
    padding-left: 5px;
}

.logo:hover {
    color: white;
    text-decoration: underline;
    text-decoration-color: white;
}

.logOut {
    background: transparent;
    border-color: transparent;
    font-size : 20px;
    padding-top: 15px;
}

.mobile-front {
    background: linear-gradient(to bottom,#e6ccff, #80bfff);
    height: 100%;
    width: 100%;
    position: absolute;
}

.mobile-front-form {
    margin-top: 40%;
    text-align: center;
    vertical-align: middle;
    position: relative;
}

.mobile-front-search {
    font-size: 2rem;
    width: 50%;
    border: 5px solid white;
    color: white;
    border-radius: 20px;
    -webkit-transition: width .35s ease-in-out;
    transition: width .35s ease-in-out;
    background-color: transparent;
    padding-left: 20px;
}

.mobile-front-search::placeholder {
    color: white;
}

.mobile-front-search:focus {
    outline:none;
    width: 70%;
}

.mobile-title {
    background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
}

.main-search {
    font-size: 2rem;
    width: 50%;
    border: 5px solid white;
    color: white;
    border-radius: 20px;
    -webkit-transition: width .35s ease-in-out;
    transition: width .35s ease-in-out;
    background-color: transparent;
    padding-left: 20px;
}

.main-search::placeholder {
    color: white;
}

.main-search:focus {
    outline:none;
    width: 70%;
}

.modal-exit {
    background-color:transparent; 
    color: white;
    text-align: center;
    font-size: 3rem;
    text-decoration: none;
    cursor: pointer;
    position: absolute;
    left: 5%;
    top: 0px;
}

.modal-fav {
    background-color:transparent; 
    color: white;
    text-align: center;
    font-size: 3rem;
    text-decoration: none;
    cursor: pointer;
    position: absolute;
    right: 5%;
    top : 0px;
}

.modal-fav:hover {
    color: rgb(197, 55, 55);
}

.modal-fav-click {
    color:  rgb(197, 55, 55);
    font-size: 5rem;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    position: absolute;
    right: 98px;
    top : 37px;
}

.modal-remove {
    color: white;
    text-align: center;
    font-size: 3rem;
    text-decoration: none;
    cursor: pointer;
    position: absolute;
    right: 100px;
    top : 50px;
}

.modal-footer {
    position: absolute;
    right: 25px;
    bottom: 5px;
    font-size: 15px;
    color: white;
}

.navbar-mobile {
    height: auto;
    background: linear-gradient(to right,#e6ccff, #80bfff);
    color: white;
    overflow: auto;
}

.navbar {
    height: 15vh;
    background: linear-gradient(to right,#e6ccff, #80bfff);
    color: white;
}

.nav-mobile {
    display: flex;
    justify-content: space-around;
    align-items: right;
    list-style: none;
    margin-top : 10px;
    margin-bottom: 0px;
    padding-left: 0px;
    
}

.nav-headings-mobile {
    color: white;
    font-size : 1.5rem;
    margin-top: 15px;
    padding-right: 20px;
}

.nav-links {
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: right;
    list-style: none;
    margin-top : 5px;
    right: 0px;
}

.nav-headings {
    color: white;
    font-size : 1.5rem;
    margin-top: 15px;
}

.nav-headings:hover {
    color: white;
    text-decoration: underline;
    text-decoration-color: white;
}

.navButtonCol {
    width: 100px;
}

.nav-search {
    left: 0;
    width: 300px;
    border: 5px solid white;
    color: white;
    border-radius: 20px;
    -webkit-transition: width .35s ease-in-out;
    transition: width .35s ease-in-out;
    background-color: transparent;
    padding-left: 20px;
    font-size: 2rem;
    position: absolute;
}

.nav-search::placeholder {
    color: white;
}

.navS-search:focus {
    outline: none;
    width: 400px;
}

.nav-search-mobile {
    left: 0;
    width: 300px;
    border: 5px solid white;
    color: white;
    border-radius: 20px;
    -webkit-transition: width .35s ease-in-out;
    transition: width .35s ease-in-out;
    background-color: transparent;
    padding-left: 20px;
    font-size: 2rem;
    margin-bottom: 15px;
}

.react-photo-gallery--gallery img:hover {
    opacity: 0.3;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.signup {
    text-align: center;
    margin-top : 15%;
}

.search-column{
    margin-top: 10px;
}

.search-drop-down {
    z-index: 100;
    margin-top: 50px;
    padding-left: 20px;
    position: absolute;
}

.title-colour {
    background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4rem;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

