body {
    background: white;
}

button {
    margin-bottom: 20px;
    margin-left: 20px;
}

.buttonGo {
    background-color:transparent; 
    border: 5px solid white;
    width: 100px;
    color: white;
    padding: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2rem;
    margin: 4px 20px;
    cursor: pointer;
    border-radius: 20px;
}

.buttonGo:hover {
    color: white;
    background-color: #008CBA;
}

.btn-secondary:hover {
    color: white;
    background-color: transparent;
    border-color: transparent;
}

.btnFav {
    background-color: #f0e32c;
    border-color: #f0e32c;
    color: white;
}

.btnSignup {
    background-color: #008CBA;
    border-color: #008CBA;
    color: white;
}

.btnSignup:hover {
    background-color: white;
    border-color:  #008CBA;
    color:  #008CBA;
}

.btnLogin {
    background-color: white;
    border-color: #008CBA;
    color: #008CBA;
}

.btnLogin:hover {
    background-color:  #008CBA;
    border-color: white;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.celebul {
    padding-right : 0px;
    padding-left : 0px;
    margin-left : 0px;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; 
    text-align: center;
}


.container {
    position: relative;
    text-align: center;
    color: white;
}

.current {
    font-weight: bolder;
    font-size : 30px;
}

.dropdown-item {
    width : 120px;
    position: flex;
    background: white;
}

.dropDown {
    z-index: 100;
    margin-top: 50px;
    padding-left: 20px;
}

.dropdown-menu {
    margin-top: 60px;
    width: 30px;
}

.dropdown-menu .show{
    margin-top: 30px;
}
.frontRight {
    background: linear-gradient(to right,rgb(120, 224, 216), skyblue);
    width: 50%;
    height: 775px;
    position: relative;
    float: right;
    z-index: 2;
}

.frontPage {
    text-align: center;
    vertical-align: middle;
    position: relative;
    height: 100%;
    top: 30%;
}

.frontPage p {
    font-size: 50px;
    font-weight: bolder;
}

.frontImage {
    width: 50%;
    height: 100%;
    position: relative;
    z-index: 1;
    float: left;
}

.frontImage img {
    width: 100%;
    height: 775px;
}

.fullscreen img {
    width: 600px;
    height: 500px;
}

.gallery img {
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    image-resolution: 300dpi; 
}

.galleryImg {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

img {
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    image-resolution: 300dpi; 
    -webkit-image-resolution:300dpi snap;
    -moz-image-resolution:300dpi snap;
    -o-image-resolution:300dpi snap;
    -ms-image-resolution:300dpi snap;
}

.imgBlur {
    -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
    filter: blur(5px);  
}

input {
    margin-left : 15px;
}

.listItem {
    color: black;
}

.listItemFocus {
    color: white;
    background: darkblue;
}

.logoDiv {
    width: 80%;
}

.logo {
    color:white;
    margin-top: 5px;
    margin-left: 5px;
    width: 450px;
    font-size: 3rem;
    margin-right: 0px;
    padding: 5px 5px 5px 5px;
    align-content: right;
    text-align: right;
    position: relative;
}

.logoMobile {
    color:white;
    font-size: 3rem;
    align-content: right;
    text-align: right;
    padding-right: 30px;
}

.loginDrop {
    background: transparent;
    border-color: transparent;
    font-size : 20px;
}

.logOut {
    background: transparent;
    border-color: transparent;
    font-size : 20px;
    padding-top: 15px;
}

.loginDrop button{
    background: transparent;
    border-color: transparent;
    font-size : 20px;
    position: absolute;
}

.loginMargin button{
    margin: 0;
    padding-top: 15px;
    padding-left: 5px;
}

.logo:hover {
    color: white;
    text-decoration: underline;
    text-decoration-color: white;
}

.mobileFront {
    background: linear-gradient(to right,rgb(120, 224, 216),#008CBA);
    height: 100%;
    padding-top: 50%;
    padding-bottom: 50%;
}

.mainSearch {
    font-size: 2rem;
    width: 50%;
    border: 5px solid white;
    color: white;
    border-radius: 20px;
    -webkit-transition: width .35s ease-in-out;
    transition: width .35s ease-in-out;
    background-color: transparent;
    padding-left: 20px;
}

.mainSearch::placeholder {
    color: white;
}

.mainSearch:focus {
    outline:none;
    width: 70%;
}

.modalExit {
    background-color:transparent; 
    color: white;
    text-align: center;
    font-size: 3rem;
    text-decoration: none;
    cursor: pointer;
    position: absolute;
    left: 5%;
    top: 0px;
}

.modalFav {
    background-color:transparent; 
    color: white;
    text-align: center;
    font-size: 3rem;
    text-decoration: none;
    cursor: pointer;
    position: absolute;
    right: 5%;
    top : 0px;
}

.modalFav:hover {
    color: rgb(197, 55, 55);
}

.modalFavClick {
    color:  rgb(197, 55, 55);
    font-size: 5rem;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    position: absolute;
    right: 98px;
    top : 37px;
}

.modalRemove {
    color: white;
    text-align: center;
    font-size: 3rem;
    text-decoration: none;
    cursor: pointer;
    position: absolute;
    right: 100px;
    top : 50px;
}

.modalFooter {
    position: absolute;
    right: 25px;
    bottom: 5px;
    font-size: 15px;
    color: white;
}

.navHedaingLogin {
    color: white;
}

.navHedaingLogin:hover {
    color: white;
}

.navbarMobile {
    height: auto;
    background: linear-gradient(to right,rgb(120, 224, 216),#008CBA);
    color: white;
    overflow: auto;
}

.navbar {
    height: 15vh;
    background: linear-gradient(to right,rgb(120, 224, 216),#008CBA);
    color: white;
}

.navMobile {
    display: flex;
    justify-content: space-around;
    align-items: right;
    list-style: none;
    margin-top : 10px;
    margin-bottom: 0px;
    padding-left: 0px;
    
}

.navHeadingsMobile {
    color: white;
    font-size : 20px;
    margin-top: 15px;
    padding-right: 20px;
}

.nav-links {
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: right;
    list-style: none;
    margin-top : 5px;
    right: 0px;
}

.navHeadings {
    color: white;
    font-size : 20px;
    margin-top: 15px;
}

.navHeadings:hover {
    color: white;
    text-decoration: underline;
    text-decoration-color: white;
}

.navButtonCol {
    width: 100px;
}

.navSearchButton {
    margin-top: 20px;
    width: 40px;
    height: 40px;
}

.navSearch {
    left: 0;
    width: 300px;
    border: 5px solid white;
    color: white;
    border-radius: 20px;
    -webkit-transition: width .35s ease-in-out;
    transition: width .35s ease-in-out;
    background-color: transparent;
    padding-left: 20px;
    font-size: 2rem;
    position: absolute;
}

.navSearchMobile {
    left: 0;
    width: 300px;
    border: 5px solid white;
    color: white;
    border-radius: 20px;
    -webkit-transition: width .35s ease-in-out;
    transition: width .35s ease-in-out;
    background-color: transparent;
    padding-left: 20px;
    font-size: 2rem;
}

.navSearchMobile::placeholder {
    color: white;
}

.navSearch:focus {
    outline: none;
    width: 400px;
}

.navSearch::placeholder {
    color: white;
}

.navDropMenu {
    color: black;
    font-size: 18px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.rowCentered {
    position: relative;
    left: 50%;
    right: 50%;
}

* {
    box-sizing: border-box;
}

.signup {
    text-align: center;
    margin-top : 15%;
}

.searchCol{
    margin-top: 10px;
}

.searchForm {
    margin-bottom : 20px;
}

.searchBox {
    padding-right : 0px;
    padding-left : 0px;
    margin-left : 0px;
    margin-right : 0px;
    font-size: 2rem;
    width : 100%;
}

.searchDropDown {
    z-index: 100;
    margin-top: 50px;
    padding-left: 20px;
    position: absolute;
}

.txtClr {
    color: #008CBA;
}

.titleColour {
    background: white;
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
